<div class="container">
	<div class="row views">

    <div class="col-2 sidebar d-flex flex-column"> 
      <!-- サイドバー -->  
      <%= render 'sidebar' %>
    </div>

    <div class="col-9 main-content"> 
    <!--メイン-->
      <br>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      
      <div class="row searcher-area">
      <% if user_signed_in? %>
        <%= render 'public/searches/search', url_path:search_path %>
      <% end %>
      </div>
      <br>

      <div class="row posts">
        <table class='table table-hover'>
          <tbody>
            <% @posts.each do |post| %>
              <%= render partial: 'posts', locals: { post: post } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="pager-area">
        <%= paginate @posts %>
      </div>

      <span id="back">
        <a class="back-link" href="#" data-no-turbolink>
        <i class="fa-solid fa-angle-up fa-xl " ></i>
        </a>
      </span>
    </div>
  </div>
</div>
