<div class="container">
  <div class="row" style="padding-top: 30px;">
    <h5 class="title">Log in</h5>
  </div>

  <br>
  <div class="flash">
          <%= flash[:notice] %>
  </div>

  <div class="row" style="margin-bottom: 10px;">

    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",size:40; %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <div>
        <br>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class:"btn edit-button"%>
      </div>
    <% end %>

  </div>

</div>