<div class="container">
  <div class="row views">
  
    <div class="col-2 sidebar">
      <!-- サイドバー --> 
      <%= render 'public/posts/sidebar' %>
    </div>

    <div class="col-10 following-index"> 
      <h2 class = "title"> <%= @users.name %>さんがフォローしているユーザー</h2> 
      <h5 class = "title"> <%= @users.count %>人フォローしています</h5>
      <%= render 'follow_user',users:@users %>
      <br>
      <div class="row back-btn-area">
        <%= link_to "戻る", user_path(@user), class: "back-button" %>
      </div>
    </div>
  </div>
</div>