<div class="row a-search_form">
  <%= form_with url: url_path, method: :get, class: "form-inline" do |f| %>
    <div class="col-sm-5 mb-8 a-search_form_groupe">
      <%= f.text_field :word, class: "form-control", placeholder: "キーワードを入力してください", size:30;%>
    </div>
    <div class="col-sm-2 a-search_form_groupe">
      <div style="display: flex; align-items: center; font-size:13px;">
        <%= f.check_box :is_status, { checked: false, style: "margin-right: 5px;" } %>
        <%= label_tag('is_status', '退会検索') %>
      </div>
    </div>
    <div class="col-sm-2 a-search_form_groupe">
      <%= f.submit "Search", class: "btn search-button" %>
    </div>
  <% end %>
</div>
