<div class="container">
	<div class="row views">
    
    <div class="col-2 sidebar">
      <!-- サイドバー --> 
      <%= render 'public/posts/sidebar' %> 
    </div>

    <div class="col-10 comment-view"> 
      <h2 class = "title"> Comment-Edit</h2> 
      <br>
        <div class="flash">
          <%= flash[:notice] %>
          <% if @post_comment.errors.any? %>
            <div id="error">
              <ul>
                <% @post_comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <br>
      <!-- コメント作成 -->
        <div class="row c-p-image">
          <div class="col-3">
            <% if @post.post_image.attached? %>
              <%= image_tag url_for(@post.post_image), size: "150x125" %>
            <% else %>
              <%= image_tag 'noimage.png', size: "150x125" %>
            <% end %>
          </div>
        

          <div class="col-8 p-comment-form">
            <%= render 'form', post_comment:@post_comment, submit_text: ' 編集 ' %>
          </div>
        </div>

    </div>
  </div>
</div>