<div class="container">
	<div class="row views">
    
    <div class="col-2 sidebar">
      <!-- サイドバー --> 
      <%= render 'public/posts/sidebar' %> 
    </div>

    <div class="col-10 comment-view"> 
    <h2 class = "title"> Comment</h2> 
    <br>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% if @post_comment.errors.any? %>
        <div id="error">
          <ul>
            <% @post_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <br>
    <!-- コメント作成 -->
      <div class="row c-p-image">
        <div class="col-3">
          <% if @post.post_image.attached? %>
            <%= image_tag url_for(@post.post_image), size: "150x125" %>
          <% else %>
            <%= image_tag 'noimage.png', size: "150x125" %>
          <% end %>
        </div>
      

      <div class="col-8 p-comment-form">
        <%= render 'form', post: @post, post_comment:@post_comment, submit_text: ' 送信 ' %>
      </div>
      </div>
        <br>
      <div class="col line">
      </div>

      <div class"row comments">
          <table class="table  table-inline">
            <thead>
              <tr>
                <th></th>
                <th>コメント</th>
                <th>ユーザー名</th>
                <th>投稿時間</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @post_comments.each do |post_comment| %>
                <tr>
                  <td></td>
                  <td>
                    <%= post_comment.comment %>
                  </td>
                  <td>
                    <%= post_comment.user.name %>
                  </td>
                  <td>
                    <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  </td>
                  <td> 
                  <% if post_comment.user == current_user %>
                    <span class="row btn-area">
                      <%= link_to "Edit", edit_public_post_post_comment_path(@post, post_comment.id), class: "edit-button" %>
                      <%= link_to "Delete", public_post_post_comment_path(@post, post_comment.id), method: :delete , class: "delete-button" %>
                    </span>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
  
    </div>
  </div>
</div>