<div class="container">
	<div class="row a-views">
    <!-- ユーザー詳細 -->
    <div class="col a-user-info">
      <div class="row user_image">
        <% if @user.user_image.attached? %>
          <%= image_tag url_for(@user.user_image), size: "250x200" %>
        <% else %>
          <%= image_tag 'icon/camera.logo2.png', size: "250x200" %>
        <% end %>
      </div>
      <table class ="table user-table">
        <tr>
          <th>User Nmae</th>
          <td colspan="5"></td>
          <td>
            <%= @user.name %>
          </td>
          <td></td>
        </tr>
        <tr>
          <th>Introduction</th>
          <td colspan="5"></td>
          <td>
            <%= @user.introduction %>
          </td>
          <td></td>
        </tr>
        <tr>
          <th>User ID</th>
          <td colspan="5"></td>
          <td>
            <%= @user.unique_id %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><% %></td>
          <td colspan="5"></td>
          <td><% %></td>
        </tr>
      </table>
    </div>
      <div class="col-12 line"></div>

      <div class="col-8 a-user-status">
      <%= form_with(model: @user, url: admin_user_path(@user.id), local: true) do |f| %>
        <table class="table ">
          <tr>
            <th>投稿一覧</th>
            <td></td>
            <td class="post-btn-area">
              <%= link_to admin_user_posts_path(@user.id), class: 'btn post-btn' do %>
                Posts
              <% end %>
            </td>
          </tr>
          <tr>
            <th>公開情報</th>
            <td>
              <%= @user.is_public? ? "公開" : "非公開" %>
            </td>
            <td class="radio-btn-form">
              <%= f.collection_radio_buttons :is_public, [[true, '公開'], [false, '非公開']], :first, :last %>
            </td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <%= @user.is_active? ? "現行ユーザー" : "退会済み" %>
            </td>
            <td class="radio-btn-form">
              <%= f.collection_radio_buttons :is_active, [[true, '継続'], [false, '退会']], :first, :last %>
            </td>
          </tr>
          <tr>
            <td>
              <br>
            </td>
          </tr>
          <tr >
            <th></th>
            <td class="row submit-btn-area">
              <%= f.submit " 保存 ", class: "btn btn-sm edit-button" %>
            <% if !@user.is_active %>
              <%= link_to "削除", admin_user_path, method: :delete , class: "btn btn-sm delete-button" %>
            <% end %>
            <%= link_to admin_users_path, class:"btn back-button" do %>
              戻る
            <% end %>
            </td> 
          </tr>
        </table>
      <% end %>
      </div>

    </div>
  </div>
</div>