<div class="row user_image">
  <% if user.user_image.attached? %>
    <%= image_tag url_for(@user.user_image), size: "250x200" %>
  <% else %>
    <%= image_tag 'icon/camera.logo2.png', size: "250x200" %>
  <% end %>
</div>
<div class="row user-info">
  <table class="table table-borderless user-table-edit">
  <tr>
    <td>
      <% if allow %>   
        <%= link_to edit_public_user_path(user), class: 'edit-button' do %>
          <%= "User Edit" %>
        <% end %>
      <% else %>
        <%= render 'public/relationships/btn',user: user  %>
      <% end %>
    </td>
  </tr>
  </table>
  <table class ="table user-table">
    <tr>
      <th>User Nmae</th>
      <td colspan="5"></td>
      <td>
        <%= user.name %>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Introduction</th>
      <td colspan="5"></td>
      <td>
        <%= user.introduction %>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>User ID</th>
      <td colspan="5"></td>
      <td>
        <%= user.unique_id %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><% %></td>
      <td colspan="5"></td>
      <td><% %></td>
    </tr>
    <tr>
      <th>フォロー数</th>
      <td colspan="5"></td>
      <th>フォロワー数</th>
    </tr>
    <tr>
      <td>
        <%= link_to public_user_followings_path(current_user.id), class: 'btn' do %>
          <%= user.followings.count %>
        <% end %>
      </td>
      <td colspan="5"></td>
      <td>
        <%= link_to public_user_followers_path(current_user.id), class: 'btn' do %>
          <%= user.followers.count %>
        <% end %>
      </td>
    </tr>
  </table>
</div>