<div class="container">
  <div class="row views">
    <div class="col-2 sidebar">
      <!-- サイドバー --> 
      <%= render 'public/posts/sidebar' %>
    </div>

    <div class="col-10 user-show"> 
    <!-- ユーザー詳細 -->
      <div class="flash">
        <%= flash[:notice] %>
      </div>
        <%= render 'userinfo', user: @user, allow:@allow  %>
      <br>
      <div class="line"></div>
      <br>

      <div class="row user-posts">
        <div class="row user-post-image">
          <% @posts.each do |post| %>
            <% if post.post_image.attached? %>
              <%= link_to public_post_path(post.id), class: 'side-nav-item' do %>
                <%= image_tag url_for(post.post_image), size: "150x100" %>
              <% end %>
            <% else %>
              <%= link_to public_post_path(post.id), class: 'side-nav-item' do %>
                <%= image_tag 'noimage.png', size: "150x100" %>
              <% end %>
            <% end %>
            <div class="user-post-info">
              <%= post.title %><br>
              <%= post.visited_at.strftime('%m/%d %H:%M') %><br>
              <%= post.visibility_i18n %>
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <br>
      <div class="row back-btn-area">
        <%= render 'public/posts/back', url_path: edit_public_user_path(@user) %>
        <%= link_to public_user_album_path(@user), class: 'btn' do %>
          <i class="fa-regular fa-images fa-2xl"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>